{sub_dirs, ["apps/*", "rel"]}.
{erl_opts, [{parse_transform, lager_transform}, no_debug_info, native]}.
{deps, [
	{ecomponent, ".*", {git, "git://github.com/artefactop/ecomponent.git", "1.0.0"}}
]}.
{cover_enabled, true}.
{cover_print_enable, true}.
 
{plugins, [rebar_covertool]}.
{covertool_prefix_len, 2}.
{cover_export_enabled, true}.
%{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
