{sys, [
    {lib_dirs, ["../deps", "../apps"]},
    {rel, "jnode", git,
        [
            kernel,
            stdlib,
            sasl,
            inets,
            crypto,
            xmerl,
            lager,
            syslog,
            exmpp,
            mnesia,
            bear,
            folsom,
            uuid,
            ecomponent,
            folsom_cowboy,
            jn_component
        ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "jnode"},
    {profile, embedded},
    {incl_cond, derived},
    {mod_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, jn_component, [{mod_cond, app}, {incl_cond, include}]},
    {app, ct_tools, [{incl_cond, exclude}]},
    {app, covertool, [{incl_cond, exclude}]},
    {app, edown, [{incl_cond, exclude}]},
    {app, meck, [{incl_cond, exclude}]},
    {app, rebar, [{incl_cond, exclude}]}
]}.

{target_dir, "jinglenodes"}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "log"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/jnode", "bin/jnode"},
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {template, "files/app.config", "etc/app.config"},
    {template, "files/vm.args", "etc/vm.args"}
]}.
